@using Cipher_Notes.Models
@using Cipher_Notes.Services

@page "/"
@inject NoteService NoteService
@inject NavigationManager Navigation


<div class="container">
    <div class="header">
        <div class="logo">
            <img src="images/logo.svg" class="logo-img" />
            <div>
                <h1>Cipher Notes</h1>
                <p>@notes.Count notes encrypted</p>
            </div>
        </div>
    </div>

 

    @if (notes.Count == 0)
    {
        <div class="empty-state">
            <img src="images/logo.svg" class="logo-img" />
            <h2>No notes yet</h2>
            <p>Tap + to create your first encrypted note</p>
        </div>
    }
    else
    {
        //display all notes. Each note has a menu which is being displayed after clicking on the ... This menu provides delete/update cancel options
        <div class="notes-list">
            @foreach (var note in FilteredNotes)
            {
                <div class="note-card" @onclick="() => ViewNote(note.Id)">
                    <div class="note-header">
                        <div>
                            <h3>@note.Title</h3>
                            <p>@note.Created_at.ToString("dd/MM/yyyy")</p>
                            <span class="encrypted-badge">🔒 ENCRYPTED</span>
                            <p>⏱ @note.Created_at.ToString("dd/MM/yyyy")</p>

                        </div>

                        <div class="note-actions">
                            <button class="action-btn edit-btn" @onclick="() => EditNote(note.Id)" @onclick:stopPropagation="true">✏️</button>
                            <button class="action-btn delete-btn" @onclick="() => DeleteNote(note.Id)" @onclick:stopPropagation="true">🗑️</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    <button class="new-note-btn" @onclick="GoToCreate">+ Create Note</button>
</div>

@code {
    private List<SecureNotes> notes = new();
    private string searchQuery = "";

    private int? openMenuId = null;

    private void ToggleMenu(int id)
    {
        openMenuId = openMenuId == id ? null : id;
    }

    private void CloseMenu()
    {
        openMenuId = null;
    }

    private IEnumerable<SecureNotes> FilteredNotes =>
        notes.Where(n => n.Title.Contains(searchQuery, StringComparison.OrdinalIgnoreCase));

    protected override async Task OnInitializedAsync()
    {
        notes = await NoteService.GetAllNotes();
    }

    //update note method
    private async Task EditNote(int id)
    {
        try
        {
            //navigate to update page
            Navigation.NavigateTo($"/update/{id}");


        }
        catch (Exception ex)
        {
            await App.Current.MainPage.DisplayAlertAsync("Error", ex.Message, "BACK");
        }
    }

    //view and decrypt note method
    private async Task ViewNote(int id)
    {
        try
        {
            //navigate to note page
            Navigation.NavigateTo($"/note/{id}");


        }catch(Exception ex)
        {
            await App.Current.MainPage.DisplayAlertAsync("Error", ex.Message, "BACK");
        }
    }

    //delete note method
    private async Task DeleteNote(int id)
    {

        //delete note if user confirm
        if(await ConfirmDeletion())
        {
            //call delete note method
            await NoteService.Delete(id);

            notes = await NoteService.GetAllNotes();//renew list

            await App.Current.MainPage.DisplayAlertAsync("alert", "Note deleted!","BACK");    //return confirmation message
        }
        else
        {
            await App.Current.MainPage.DisplayAlertAsync("alert", "Note has not been deleted","BACK");  //inform user that the note has not been deleted
        }
        
    }

    //confirm deletion method
    private async Task<bool> ConfirmDeletion()
    {
        
        //prompt user to validate note's deletion
        return await App.Current.MainPage.DisplayAlertAsync(
                 "Confirm",
                 "Are you sure you want to delete?",
                 "OK",
                 "CANCEL");

    }

    private void GoToCreate()
    {
        // navigation to create note
        Navigation.NavigateTo("/create");
    }
}
