@using Cipher_Notes.Models
@using Cipher_Notes.Services

@page "/"
@inject NoteService NoteService
@inject NavigationManager Navigation

<div class="container">
    <div class="header">
        <div class="logo">
            <img src="images/logo.svg" class="logo-img" />
            <div>
                <h1>Cipher Notes</h1>
                <p>@notes.Count notes encrypted</p>
            </div>
        </div>
    </div>

 

    @if (notes.Count == 0)
    {
        <div class="empty-state">
            <img src="images/logo.svg" class="logo-img" />
            <h2>No notes yet</h2>
            <p>Tap + to create your first encrypted note</p>
        </div>
    }
    else
    {
        <div class="notes-list">
            @foreach (var note in FilteredNotes)
            {
                <div class="note-card">
                    <h3>@note.Title</h3>
                    <p>@note.Created_at.ToString("dd/MM/yyyy")</p>
                </div>
            }
        </div>
    }

    <button class="new-note-btn" @onclick="GoToCreate">+ Create Note</button>
</div>

@code {
    private List<SecureNotes> notes = new();
    private string searchQuery = "";

    private IEnumerable<SecureNotes> FilteredNotes =>
        notes.Where(n => n.Title.Contains(searchQuery, StringComparison.OrdinalIgnoreCase));

    protected override async Task OnInitializedAsync()
    {
        notes = await NoteService.GetAllNotes();
    }

    private void GoToCreate()
    {
        // navigation to create note
        Navigation.NavigateTo("/create");
    }
}
