@using Cipher_Notes.Models
@using Cipher_Notes.Services
@using Cipher_Notes.ViewModels
@using Cipher_Notes.Models

@page "/update/{Id:int}"

@inject NoteService NoteService
@inject NavigationManager Navigation

<div class="update_note-page">
    <h3>@note?.Title</h3>

    @if (note == null)
    {
        <p>Loading...</p>
    }
    else if (!isUnlocked) //if user didn't provide password
    {
        <div class="password-modal">
            <h4>Decrypt Note</h4>

            <input type="password"
                   placeholder="Enter password"
                   @bind="password" />

            <button @onclick="Decrypt">Decrypt</button> <!---decrypt and unloc content btn -->
            <button @onclick="GoBack">Back</button>
        </div>
    }
    else //display once user unlock's and decrypts note
    {
        //display a form with note's info but allow user to edit content
        <div class="update-form">
            <input @bind="note.Title" class="title-input" />
            <textarea @bind="decryptedContent"></textarea>
            <button @onclick="Update">Save</button>
            <button @onclick="GoBack">Back</button>
        </div>
    }


</div>
@code {

    [Parameter]

    //declare variables
    public int Id { get; set; }

    private SecureNotes? note;

    private string password = string.Empty;
    private string updatedTitle = string.Empty;

    private string decryptedContent = string.Empty;
    private bool isUnlocked = false;



    protected override async Task OnInitializedAsync() //method to load on page's initialization
    {
        note = await NoteService.GetNoteById(Id); //get the specific note from db by its id

        //return to the main page is note is null
        if (note is null)
        {
            await App.Current.MainPage.DisplayAlertAsync( //display an error message if note does not exist
                "Error",
                "Note not found.",
                "OK");

            Navigation.NavigateTo("/", true);
            return;
        }



    }

    //method to decrypt content
    private async Task Decrypt()
    {
        //try-catch method
        try
        {
            //if password is null return an error message
            if (!await ValidPassword())
            {
                await App.Current.MainPage.DisplayAlertAsync(
               "Error",
               "Password field is null",
               "OK");
                return;
            }
            //decrypt content
            //assign method into decryptedContent variable
            decryptedContent = await NoteService.DecryptNote(Id, password);

            //return true for is_unlock to disable pop up window
            isUnlocked = true;

        }
        catch (UnauthorizedAccessException) //return an error message in UI if passwords do not match
        {
            await App.Current.MainPage.DisplayAlertAsync(
                "Wrong password",
                "Try again",
                "OK");

            //clear password
            password = string.Empty;

        }
        catch (Exception ex) //return a general exception message
        {
            await App.Current.MainPage.DisplayAlertAsync(
               "Error",
               ex.Message,
               "OK");
        }
    }

    //update note method
    private async Task Update()
    {
        try
        {
            //return an error if any input is null
            if (await ValidNoteInputs())
            {
                //if user confirms the update, update the note
                if (await ConfirmUpdate())
                {
                    await NoteService.UpdateNote(Id, note.Title, decryptedContent, password);//call the update note method from note service to update data
                    //return an success message
                    await App.Current.MainPage.DisplayAlertAsync("Success", "Note has been updated", "OK");
                }
                else
                {
                    await App.Current.MainPage.DisplayAlertAsync("Cancel", "You didn't update note", "OK");
                }
            }
            else
            {
                await App.Current.MainPage.DisplayAlertAsync("Error", "Please complete all inputs", "OK"); //return an error message if any input is null
                return;
            }



        }catch(Exception ex)
        {
            await App.Current.MainPage.DisplayAlertAsync("Error", "Cannot update note", "OK");
        }
    }

    //validate password won't be null method
    private async Task <bool> ValidPassword()
    {
        //return an error if password is null
        if(string.IsNullOrWhiteSpace(password))
        {
            return false;
        }
        return true;
    }

    //validate that inputs won't be null
    private async Task <bool> ValidNoteInputs()
    {
        //return an error  if title or content is null
        if (string.IsNullOrWhiteSpace(note.Title) || string.IsNullOrWhiteSpace(decryptedContent))
        {
           
            return false;
        }
       

        return true;
    }

    //prompt user to confirm the update
    private async Task<bool> ConfirmUpdate()
    {
        return  await App.Current.MainPage.DisplayAlertAsync(
                "Confirm",
                "Are you sure you want to update the note?",
                "OK",
                "CANCEL");
      
    }

    //return to main page method
    private void GoBack()
    {
        Navigation.NavigateTo("/");
    }

}
